.TodoList {
  .error {
    border: red 1px solid;
  }
  .errorMessage {
    color: red;
  }
  .activeFilter {
    color: white;
    background-color: darkslategray;
  }
  .isDone {
    opacity: 0.5;
  }
}